/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*table{
    border-collapse: separate
  }*/

.table-light{
    font-size: 15px;
    vertical-align: middle;
}
.table-light21{
    font-size: 15px;
    vertical-align: middle;
    text-align:center;
}
.table-light22{
    font-size: 15px;
    vertical-align: middle;
    text-align:center;
}
.table-light3{
    font-size: 25px;
    vertical-align: middle;
    text-align:center;
}
.table-light4{
    font-size: 15px;
    vertical-align: middle;
    text-align:center;
    border-right: 8px solid;
}
.all-grade{
    font-size:25px;
}
@media print {  /*印刷の時だけ見た目変わる*/
    @page{
        size: A4 landscape;
    }
    .zengakunen{
        display: none;
    }
    .botan{
        display: none;
    }
    .table-light21{
        font-size:10px;
        width:40px;
    }
    .table-light22{
        font-size:10px;
        width:50px;
    }
}